/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROOT LAYOUT */
.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* MAIN CONTENT */
.content-area {
  flex: 1;
  height: 100vh;
  /* overflow: hidden; */
  /* background-color: #f8fafc; */
}
